# docker-compose.yml
services:
  mongo:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    container_name: pcshop_es
    restart: unless-stopped
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false     # Tắt bảo mật (login/password) cho dev
      - xpack.ml.enabled=false           # QUAN TRỌNG: Tắt Machine Learning (ăn RAM nhất)
      - xpack.watcher.enabled=false      # Tắt tính năng theo dõi/alert
      - xpack.monitoring.enabled=false   # Tắt thu thập logs monitoring
      - xpack.graph.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock: -1
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  backend:
    build: 
      context: ./backend
      dockerfile: ../Dockerfile.backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - ELASTICSEARCH_HOST=http://elasticsearch:9200
    depends_on:
      - mongo
      - elasticsearch
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: ../Dockerfile.frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - HOST=0.0.0.0
      - WATCHPACK_POLLING=true
      - WDS_SOCKET_PORT=3000
      - WDS_SOCKET_HOST=localhost
      - NODE_OPTIONS=--max-old-space-size=8192
    stdin_open: true
    tty: true

# Định nghĩa volume để không mất dữ liệu khi restart
volumes:
  mongo_data:
  esdata: